<header class="header" role="banner" style="margin-bottom:20px;">
    <hgroup><img class="headshot" itemprop="image" src="/files/about/image-20210719210344925.png" alt="Dasol Hong"/>
      <h1 class="name" itemprop="name">Dasol Hong(홍다솔)</h1>
        <div class="user-description" itemprop="description">
            <p>
                I am a second-year Ph.D. student in the Department of Electrical and Electronic Engineering at <a href="https://www.kaist.ac.kr/en/">KAIST</a>, advised by Prof. <a href="https://urobot.kaist.ac.kr/url_teams/prof-hyunmyung/">Hyun Myung</a>.  
                <br>
                I am interested in embodied AI, robust perception, and vision-language adaptation, focusing on developing intelligent agents 
                that can perceive, reason, and interact with the physical world.
            </p>
        </div>
    </hgroup>
    <address class="contact-details">   
        <a class="email" href="mailto:ds.hong@kaist.ac.kr" itemprop="email">
            <i class="fas fa-envelope" style="user-select: auto;"></i>
            <span class="content">ds.hong@kaist.ac.kr</span>
        </a>
        <a class="GitHub" href="https://github.com/dazory/" itemprop="email">
            <i class="fab fa-github"></i>
            <span class="content">dazory</span>
        </a>
    </address>
</header>
