<h2 style="
    font-weight: bold;
    font-family: 'Pretendard-Regular' !important;
    color:black !important;
    border: 0 !important;"> Projects </h2>

<div class="blog-card">
    <div class="meta">
        <div class="photo" style="background-image: url(/files/about/image-20210719184530047.png)"></div>
        <ul class="details">
        <li class="author">DIVA2 (4 people)</li>
        <li class="date">2021.01. ~ 2021.07.</li>
        <li class="tags">
            <ul>
            <li>C/C++</li>
            <li>CMake</li>
            <li><a href="https://zeromq.org/" target="_blank">ZeroMQ</a></li>
            <li><a href="https://developers.google.com/protocol-buffers" target="_blank">Protocol Buffers</a></li>
            </ul>
        </li>
        </ul>
    </div>
    <div class="description">
        <h1>DIVA2</h1>
        <h2>Integrated platform for real-time multi-sensor data collection, purification, analysis and control of autonomous vehicles</h2>
        <p>An integrated platform for real-time multi-sensor data collection, refinement, analysis, and control of autonomous vehicles.</p>
        <p class="read-more">
        <a href="https://github.com/dazory/diva2" target="_blank">Read More</a>
        </p>
    </div>
</div>
<div class="blog-card alt">
    <div class="meta">
        <div class="photo" style="background-image: url(/files/about/image-20210719190415893.png)"></div>
        <ul class="details">
        <li class="author">3 people</li>
        <li class="date">2021.05. ~ 2021.06.</li>
        <li class="tags">
            <ul>
            <li>Python</li>
            <li>Tensorflow</li>
            <li>Keras</li>
            </ul>
        </li>
        </ul>
    </div>
    <div class="description">
        <h1>Pneumonia Classification</h1>
        <h2>CNN-based pneumonia classifier</h2>
        <p>Through CNN, chest X-ray images are classified into three levels (normal, bacterial, and viral pneumonia).</p>
        <p class="read-more">
        <a href="https://github.com/dazory/Pneumonia-Classification" target="_blank">Read More</a>
        </p>
    </div>
</div>
<div class="blog-card">
    <div class="meta">
        <div class="photo" style="background-image: url(/files/about/image-20210719192637676.png)"></div>
        <ul class="details">
        <li class="author">Personal</li>
        <li class="date">2020.03. ~ 2020.05.</li>
        <li class="tags">
            <ul>
            <li>C/C++</li>
            <li>OrCAD</li>
            <li>ATmega4809</li>
            </ul>
        </li>
        </ul>
    </div>
    <div class="description">
        <h1>Smart Automatic Feeder</h1>
        <h2>Design of an automatic feeder that reduces the burden when caring for pets</h2>
        <p>Accesses the memory address of the MCU (ATmega4809) to control load cells, motors, Bluetooth modules, etc.</p>
        <p class="read-more">
        <a href="#" onclick="return false;" target="_blank">Read More</a>
        </p>
    </div>
</div>
<div class="blog-card alt">
    <div class="meta">
        <div class="photo" style="background-image: url(/files/about/image-20210719194650595.png)"></div>
        <ul class="details">
        <li class="author">INCAR (4 people)</li>
        <li class="date">2019.11. ~ 2020.05.</li>
        <li class="tags">
            <ul>
            <li>Android</li>
            <li>JAVA</li>
            <li>MySQL</li>
            <li>AWS EC2</li>
            </ul>
        </li>
        </ul>
    </div>
    <div class="description">
        <h1>INCAR</h1>
        <h2>Android-Based Carpool Application</h2>
        <p>Frontend was developed through Android Studio. Servers and databases were built with AWS EC2 and MySQL.</p>
        <p class="read-more">
        <a href="https://github.com/juwon0605/INCAR" onclick="return false;" target="_blank">Read More</a>
        </p>
    </div>
</div>